.footer {
    background-color: rgba(87, 34, 113, 1);
    width: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.footer::after {
    content: '';
    position: absolute;
    bottom: -350px;
    right: 25%;
    transform: rotate(110deg);
    background-image: url(/image/background-img/footer-decoration.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 500px;
    height: 1200px;
    z-index: -1;
    
}
.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 65px 15px;
    position: relative;
    z-index: 2;
}
.footer-group__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-logo {
    margin: 0 auto;
}
.footer-btn {
}
.footer-btn button{
    padding: 17px 50px;
    border-radius: 30px;
    border: 2px solid #fff;
    text-transform: uppercase;
}
.contact-btn__style {
}
.decortion-btn {
}
.footer-nav {
}
.footer-nav_menu {
}
.footer-nav_menu ul{
    display: flex;
    flex-direction: column;
    gap: 29px;
    width: 120px;
}
.footer-nav_menu ul li a{
    text-transform: uppercase;
    transition: .2s;
}
.footer-nav_menu ul li a:hover{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    transition: .2s;
}
.interregular {
}
.footer-social {
}
.footer-menu__social {
    display: flex;
    flex-direction: column;
    gap: 29px;
    width: 146px;
}

.remove-text {
    display: none;
}
.footer-menu__link {
    color: #fff;
    opacity: .5;
    transition: .5a;
    font-size: 14px;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 50px;
    position: relative;
    transition: .2s;
}
.footer-menu__link:hover {
    opacity: 1;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    transition: .2s;
}

.header-menu__link {
}
.footer-wrapper__mobile {
    display: none;
}