@media screen and (max-width: 1200px) {
    .contacts {
        padding: 100px 0;;
    }
    .contacts-info {
        gap: 10px;
    }
    .contacts-card {
        padding: 17px 15px;
        height: auto;
        text-align: center;
    }
    .contacts-card__img {
        width: 100%;
        height: 100%;
    }
    .contacts-card__text {
        margin-top: 20px;
        padding: 17px 15px;
    }

    .contacts-data__text {
        width: auto;
        padding-left: 27px;
        padding-top: 22px;
        padding-bottom: 22px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
@media screen and (max-width: 900px) {
    .contacts-title__text {
        font-size: 90px;
    }
    .contacts-card__text {
        margin-top: 20px;
    }
    .contacts-info {
        flex-wrap: wrap;
        justify-content: center;
    }
    .contacts-data {
        padding-top: 26px;
        align-items: center;
    }
}
@media screen and (max-width: 620px) {
    .contacts::after {
        top: -70px;
    }
    .contacts-info {
        flex-direction:column-reverse;
    }
    .contacts-title__text {
        font-size: 69px;
        text-align: center;
    }
    .contacts-card {
        padding: 17px 14px;
        border: 2px solid #fff;
        border-radius: 30px;
        width: 100%;
        height: auto;
    }
    .contacts-card__text {
        padding: 15px 24px;
        border: none;
    }
    .contacts-card__text p {
        color: #fff;
        font-size: 16px;
        line-height: 19px;
    }

    .contacts-data {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .contacts-data__text {
        width: 100%;
        padding-top: 25px 30px;
        position: relative;
    }
    .contacts-data__text p, a {
        font-size: 16px;
        line-height: 20px;
    }
    .data__btn-none {
        display: none;
    }
    .data__btn-mobile .contact-btn__style{
        width: 100%;
        margin-top: 45px;
    }
    .data__btn-mobile {
        display: block;
    }
    .contacts-data__social {
        display: block;
        position: absolute;
        bottom: 25px;
        right: 20px;
    }
    .contacts-data__social ul {
        display: flex;
        align-items: center;
        gap: 6px;
    }


}
@media screen and (max-width: 360px) {
    .contacts-title__text {
        font-size: 59px;
    }
}

